@import "../../../constants";

.navbar {
  margin: 0.5rem 0;
  border-radius: 25px;
  background: darken($Background, 3%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  position: relative;
  transition: 750ms;

  &:hover {
    padding: 0.5rem 1.5rem;
    transition: 750ms;
    background: darken($Background, 1%);

    .cursor-dot-outline {
      $size: 40px;
      width: $size;
      height: $size;
      background-color: rgba($Secondary, 0.5);
      
    }
  }

  .navbar-logo {
    padding: 5px;
    width: 70px;
    height: auto;
    transition: 750ms;
    border-radius: 40px;
    
    img {
      border-radius: 40px;
      width: 100%;
      height: auto;
    }

    &:hover {
      transition: 750ms;
      width: 75px;
    }
  }

  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
      background-color: $Primary;
      height: 3px;
      width: 25px;
      margin: 4px;
      transition: 0.3s;
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li a {
      color: $Primary;
      text-decoration: none;
      font-size: 1rem;
      transition: 750ms;

      &:hover {
        transition: 750ms;
        font-size: 1.1rem;
        color: $Accent;
      }
    }
  }

  @media (max-width: 768px) {
    .menu-icon {
      display: flex;
    }

    .navbar-links {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: darken($Background, 5%);
      border-radius: 0 0 15px 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      width: 100%;
      max-width: 300px;
      padding: 1rem 0;
      gap: 1rem;
      display: none;

      li {
        text-align: center;
      }

      &.active {
        display: flex;
      }
    }
  }
}
