@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-primary;
  color: variables.$white;
  line-height: 1.6;
  background-color: variables.$black;
  overflow-x: hidden;
  --cursor-color: #e2d6fa;
  cursor: none; // ADICIONADO: Esconde o cursor padrão
}

body.theme-light {
  --cursor-color: #0f0f1e;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 variables.$spacing-md;
}

.section-title {
  font-family: variables.$font-secondary;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: variables.$spacing-xl;
  text-align: center;
  text-transform: uppercase;

  .accent {
    color: variables.$primary;
  }
}

.btn {
  padding: variables.$spacing-sm variables.$spacing-lg;
  border: 2px solid variables.$primary;
  background: transparent;
  color: variables.$primary;
  font-family: variables.$font-primary;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: all variables.$transition-fast;
  letter-spacing: 2px;

  &:hover {
    background: variables.$primary;
    color: variables.$black;
    box-shadow: 5px 5px 0px variables.$primary;
    transform: translate(-2px, -2px);
  }
}

html {
  scrollbar-width: none;
}

// Para Chrome, Safari e Edge
body::-webkit-scrollbar {
  display: none;
}
