@import "../../../constants";

.cont {
  margin: 3.5em 0 0 0;
  text-align: center;

  .main-box {
    margin: 1em 0 1em 0;
    padding: 2em;
    border-radius: 1em;
    background-color: $Background;
    height: 800px;
    width: auto;
    overflow: hidden;

  }
}