$dark-theme-colors: (
	"primary": #b7d5d4,
	"secondary": #488286,
    "accent": #305252,
	"background": #77878b,
	"background-2": #373e40,
);

$Primary: map-get($dark-theme-colors , "primary");
$Secondary: map-get($dark-theme-colors , "secondary");
$Accent: map-get($dark-theme-colors , "accent");
$Background: map-get($dark-theme-colors , "background");
$Background2: map-get($dark-theme-colors , "background-2");
