$dark-theme-colors: (
	"primary": #ddf0ff,
	"secondary": #dbbbf5,
    "accent": #ce5374,
	"background": #223127,
	"background-2": #9C0D38,
);

$Primary: map-get($dark-theme-colors , "primary");
$Secondary: map-get($dark-theme-colors , "secondary");
$Accent: map-get($dark-theme-colors , "accent");
$Background: map-get($dark-theme-colors , "background");
$Background2: map-get($dark-theme-colors , "background-2");