<div class="main-right-boxes">
  <div class="huge-box">
    <h1>habilidades técnicas</h1>
    <h2>
      desenvolvedor full-stack, atualmente utilizando typescript, angular e nest
    </h2>
  </div>
  <div class="side-box">
    <h1>Clique aqui</h1>
    <h2>Para ver meus projetos</h2>
  </div>
</div>

<div class="vertical-boxes">
  <div class="box" *ngFor="let card of cards">
    <h1>{{ card.title }}</h1>
    <img [src]="card.image" alt="logo" />
  </div>
</div>

<div class="social-links">
  <h2>media:</h2>
  <a
    *ngFor="let link of socialLinks"
    [href]="link.url"
    target="_blank"
    class="social-icon"
  >
    <i [class]="link.icon"></i>
  </a>
</div>
