<div class="main-boxes">
  <div class="huge-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
  <div class="side-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
</div>
<div class="main-boxes">
  <div class="side-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
  <div class="huge-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
</div>
<div class="main-boxes">
  <div class="huge-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
  <div class="side-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
</div>
<div class="main-boxes">
  <div class="side-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
  <div class="huge-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
</div>
<div class="main-boxes">
  <div class="huge-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
  <div class="side-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
</div>
<div class="main-boxes">
  <div class="side-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
  <div class="huge-box">
    <h1>Palavras Legais</h1>
    <h2>Um texto de palavras legais</h2>
    <p>palavras legais muito pequenininhas só para encher</p>
  </div>
</div>
